init.author.name=Andrew Kachnic
init.author.email=ajkachnic@protonmail.com
init.author.url=https://andrewkachnic.now.sh
author-url=https://andrewkachnic.now.sh
init-author-url=https://andrewkachnic.now.sh/
scripts-prepend-node-path=true
init-author-name=Andrew Kachnic
init-license=MIT
init-version=0.0.0
